body{
	background: url("meteo.jpg") no-repeat center fixed;
	background-size: cover;
}
#bloc{
	display: flex;
	flex-direction: column;
}
#conteneur1{
	order: 2;
	text-align: center;
	margin-top: 30px;
	width: auto;
	height: auto;
}
#conteneur2{
	order: 1;
	width: auto;
	height: auto;
}
#conteneur2 nav{
	margin-left: -30px;
}
#conteneur2 nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
}
#conteneur2 nav ul li{
	color: #404040;
}
#conteneur2 nav a{
	text-decoration: none;
	color: #404040;
	font-size: 1.2rem;
	font-weight: bold;
}
#conteneur2 nav a:hover{
	color: #1e624b;
	border-bottom: 3px solid #404040;
}
#conteneur1 header h1{
	color: #404040;
	font-size: 3.5rem;
	font-weight: bold;
}
#conteneur1 header p{
	color: #404040;
}
#footer footer p{
	background-color: white;
	color: #404040;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	text-align: center;
}

@media screen and (min-width: 750px) and (max-width: 1000px) and (orientation: portrait){

	#conteneur2 nav a{
		font-size: 1rem;
	}
} 
@media screen and (max-width: 750px) and (orientation: portrait){

	/*#bloc{
		display: block;
	}*/
	#conteneur1{
		margin-top: 0;
		order: 1;
	}
	#conteneur1 header p{
		font-size: 0.8rem;
	}
	#conteneur2{
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 15px;
		margin-top: 30px;
		padding-top: 5px;
	}
	#conteneur2 nav ul{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#conteneur2 nav ul li{
		margin-bottom: 20px;
	}
	#footer footer p{
		font-size: 0.8rem;
	}
}

@media screen and (max-height: 750px) and (orientation: landscape){

	#bloc{
		display: flex;
		flex-direction: column;

	}
	#conteneur2 nav{
	margin-left: -45px;
	}
	#conteneur2 nav a{
		font-size: 0.8rem;
	}
	#conteneur1{
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 15px;
		margin-top: 20px;
	}
	#conteneur1 header h1{
		font-size: 2rem;
	}
	#conteneur1 header p{
		font-size: 0.8rem;
	}
	#footer footer p{
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 550px) and (orientation: portrait){
	#conteneur1{
		order: 1;
	}
	#conteneur1 header h1{
		font-size: 2rem;
	}
	#conteneur2 nav a{
		font-size: 0.8rem;
	}	
	#footer footer p{
		font-size: 0.8rem;
	}
}

